h1 {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  color: white;
}
p {
  font-size: 14px;
  font-weight: 600;
  color: white;
}
.background-image {
  background-image: url("../Image/Background1.jpg");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  filter: saturate(60%);
}

.logo {
  color: white;
}
.Container {
  padding: 4% 4%;
}
.Mainheading {
  height: 65vh;
}
.MainContent h1 {
  text-transform: capitalize;
  font-size: 110px;
  text-align: center;
}
.MainContent p {
  margin: 0;
  font-size: 14px;
}
.MainContent h2 {
  font-size: 30px;
  margin: 0;
  color: white;
}
.rightContainer {
  height: 100vh;

  background-color: #0000002c;
  backdrop-filter: blur(40px);
}

.content {
  display: flex;
  justify-content: space-between;
}

.Cities li {
  list-style-type: none;
  color: rgb(211, 208, 208);
  padding: 2% 0%;
  font-size: 18px;
}

.space {
  padding: 10% 0%;
  margin: 4% 10%;
  border-bottom: 1px solid white;
}

.space h1 {
  margin-bottom: 10%;
}

.searchButton {
  background: rgb(175, 175, 175);
  color: rgb(255, 255, 255);
  border: none;
  padding: 4% 5%;
  cursor: pointer;
}

.searchButton:hover {
  background-color: #0000002c;
}
.rightContainer .content .searchbox input[type="text"] {
  outline: none;
  border: none;
  background: none;
  color: white;
  border-bottom: 1px solid white;
  padding: 6%;
  font-size: 16px;
}

.rightContainer .content .searchbox {
  margin-left: 10%;
  margin-top: 5%;
}
